extends layout.pug
block content
    .container.log.rounded.padded.my-5
        .row.g-3.align-items-center
            form.form(action="/signup", method = "post")
                h1.card-title.text-black
                    b Sign Up
                    h3
                    p
                        b.text-white Passwords MUST contain at least one number, one uppercase letter, one lowercase letter, and be at least 8 characters long
                    .row.g-3
                        .col-md-3
                            label(class="form-label", for = 'first') 
                            b.text-white First Name
                            input(class= "form-control", aria-labelledby="first", name = 'first', title = "First Name" required = "")


                        .col-md-3
                            label(class="form-label",for = 'last') 
                            b.text-white Last Name
                            input(class= "form-control", aria-labelledby="last",name = 'last', title = "Last Name" required= "")
                        .col-md-6
                        hr

                        .col-md-3
                            label(class="form-label", for = 'username') 
                            b.text-white Username
                            input(class= "form-control", aria-labelledby="username",type='text', name = 'username', title = "Username" required="")
                        .col-md-9

                        .col-md-3
                            label(class="form-label", for = 'password') 
                            b.text-white Password
                            input(class="form-control", aria-labelledby="password", type='password', name='signuppassword', pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}", title="Must contain at least one number, one uppercase letter, one lowercase letter, and be at least 8 characters long", required="")
                        .col-md-9

                        .col-md-3
                            label(class="form-label",for = 'confirmpassword') 
                            b.text-white Confirm Password
                            input(class="form-control", aria-labelledby="password", type='password', name='signuppassword', pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}", title="Must contain at least one number, one uppercase letter, one lowercase letter, and be at least 8 characters long", required="")                        
                        .col-md-9
                        hr

                    p
                        button.btn.btn-outline-primary.text-white(type='submit') Sign Up
                        a.btn.btn-link.text-danger(href='/') Nevermind
                    if message
                        p #{message}
                    p
                    b.text-white Already have an account?
                        a.btn.btn-link.text-white(href='/login') Sign in Here!
                    p
