/* style.css */

@media screen and (max-width: 600px) {
    label[for="contactbyphone"],
    label[for="contactbyemail"],
    label[for="contactbymail"],
    a[class= "btn btn-link view-button"],
    input[type="checkbox"]:checked + label[for="contactbyphone"]::before,
    input[type="checkbox"]:checked + label[for="contactbyemail"]::before,
    input[type="checkbox"]:checked + label[for="contactbymail"]::before
    {
      display: flex;
      justify-content: center;
    }
}
@media screen and (max-width: 800px) {
    label[for="contactbyphone"],
    label[for="contactbyemail"],
    label[for="contactbymail"],
    a[class= "btn btn-link view-button"],
    input[type="checkbox"]:checked + label[for="contactbyphone"]::before,
    input[type="checkbox"]:checked + label[for="contactbyemail"]::before,
    input[type="checkbox"]:checked + label[for="contactbymail"]::before
    {
      display: flex;
      justify-content: center;
    }
}
@media screen and (max-width: 1000px) {
    label[for="contactbyphone"],
    label[for="contactbyemail"],
    label[for="contactbymail"],
    a[class= "btn btn-link view-button"],
    input[type="checkbox"]:checked + label[for="contactbyphone"]::before,
    input[type="checkbox"]:checked + label[for="contactbyemail"]::before,
    input[type="checkbox"]:checked + label[for="contactbymail"]::before
    {
      justify-content: center;
    }
}

h1 {
    color:black;
    font-size: 2rem;
    font-family:'Times New Roman', Times, serif

}
.log {
    background-color: maroon!important;
}

h2 {
    color: black;
    font-size:medium;
    font-family:Arial, Helvetica, sans-serif;
}


h3 {
    color: black;
    font-size:medium;
    font-family:Arial, Helvetica, sans-serif;
}


.padded{
    padding: 2rem;
}

body {
    background-color: lightgray!important;
}

p {
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a {
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.card-body {
    background-color: navy;
}
.form {
    background-color: maroon!important;
    font-size:medium;
    font-family:Arial, Helvetica, sans-serif;
    padding: 2rem;
}

button.btn.btn-outline-primary.text-white {
    color: white;
    border-color: white;
}

.list-group{
    background-color: maroon!important;
    font-size:large;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

a.btn.btn-outline-primary.btn-md{
    color: white;
    border-color: white;
}


ul.navbar.navbar-expand-sm.bars.d-flex.justify-content-end {
    background-color: maroon;
    height: 50px;;
}


#map-container {
    position:relative;
    height:700px;
    margin-bottom:5rem;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 75%;
}

.pointer {
    cursor: pointer;
}

.position{
    position:relative;
    left: -3%;
    right: -3%;
    padding-top: 1rem;
}

form#search{
    background-color: maroon!important;
    font-size:medium;
    font-family:Arial, Helvetica, sans-serif;
    padding: 0!important;
    border-radius: 0!important;
}

#contact-list li{
    display:inline-block;
    padding: .5rem;
}

.btn-move-right {
    float:right;
  }


input#searchaddres{
    font-size:medium;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 7px!important;
}

form#address{
    background-color: maroon!important;
    font-size:medium;
    font-family:Arial, Helvetica, sans-serif;
    padding: .7rem!important;
    justify-content: center;
    text-align: center;
    width:50%;
}

select#miles{
    font-size:medium;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: center;
    text-align: center;
    width:20%;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}